:root {
  /* COLOR PALETTE */
  --da-color-primary-light: #ffffff;
  --da-color-primary-dark: #213547;
  --da-color-secondary-dark: rgba(60, 60, 67, 0.6);
  --da-color-shadow: rgba(0, 0, 0, 0.16);
  --da-color-glass-effect: rgba(255, 255, 255, 0.29);

  /* FONT SIZE */
  --da-typography-h1: 2.2rem;
  --da-typography-h2: 1.875rem;
  --da-typography-typeface: 'Inter', sans-serif;

  /* LEADING */
  --da-typography-h1-leading: 1.2;
  --da-typography-h2-leading: 1.2;
  --da-typography-p-leading: 1.5;

  /* MARGIN */
  --da-typography-margin-heading: 2rem;

  /* PADDING */
  --da-search-bar-padding: 0.5rem;
  --da-card-header-padding: 0.75rem;

  /* GAP */
  --da-gap-city-info: 0.375rem;

  /* BORDER RADIUS */
  --da-radius-button: 0.5rem;
  --da-radius-card: 1.125rem;
  --da-radius-search-bar: 0.625rem;

  font-family: var(--da-typography-typeface);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--da-color-primary-light);
  background-color: var(--da-color-primary-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #feb054;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

.App {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h1 {
  font-size: var(--da-typography-h1);
  line-height: var(--da-typography-h1-leading);
}

h2 {
  font-size: var(--da-typography-h2);
  line-height: var(--da-typography-h2-leading);
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card-wrapper {
  display: flex;
  flex-direction: column;

  background: var(--da-color-primary-light);
  color: var(--da-color-primary-dark);
  box-shadow: 0px 6px 40px var(--da-color-shadow);
  border-radius: var(--da-radius-card);
  background: var(--da-color-glass-effect);
  border: 6px solid var(--da-color-primary-light);
  backdrop-filter: blur(5px);
}

.card-header {
  padding: var(--da-card-header-padding);
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--da-color-primary-light);
  border-radius: var(--da-radius-search-bar);
  padding: var(--da-search-bar-padding);
  gap: 8px;
  width: 100%;
  color: var(--da-color-secondary-dark);
}

.search-bar > svg {
  fill: var(--da-color-secondary-dark);
  width: 24px;
}

.card-city-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 18px;
  gap: var(--da-gap-city-info);
}

.card-weather-date {
  font-weight: 500;
  font-size: 14px;
  line-height: 11px;
}

.card-weather-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 30px;
  gap: 40px;
}

.temperature-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.temperature-all-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
}

.temperature-max-min {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.degrees {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.temperature {
  font-weight: 700;
  font-size: 43px;
  line-height: 52px;
}

.weather-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.degree-sign {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
}

.card-weather-extra {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 5px;
}

.card-weather-extra-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 11px;

  background: rgba(255, 255, 255, 0.36);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 0.5rem;
}

.card-weather-extra-card--left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.card-weather-extra-card--icon {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 9px 10px -3px rgba(23, 126, 37, 0.15), 0px 0px 10px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 0.3rem;
}

.card-weather-extra-card--right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 17px 0px 0px;
}

.card-weather-five-days {
  padding: 16px;
  padding-top: 0;
  text-align: left;
}
